.table td {
    padding: 14px 14px !important;
}

.note-editing-area {
    margin-top: 7px !important;
    height: 225px;
}

.note-editor.note-frame {
    border: 1px solid #b3b3b3 !important;
}

.note-editing-area {
    border: 1px solid #b3b3b3 !important;
}

.note-insert {
    display: none;
}

.note-table {
    display: none;
}

.btn-fullscreen {
    display: none;
}

.btn-sm[aria-label="Help"] {
    display: none;
}

.note-editable {
    height: 225px !important;
}

.note-recent-color {
    background-color: rgb(255, 255, 255) !important;
}

.fontsize {
    display: block;
}

.usermultipleschededit+.select2-container {
    width: 100% !important;
    padding: 0;
    z-index: 10000;
}

.select2-container--open {
    z-index: 10000;
}

.select2-selection__choice {
    display: block;
}