.searchbarfilterdiv{
    display: table-cell;
    float: right;
    text-align: right;
    position: relative;
    top: -30px;
}
.disp_tb{
    display:table;
}
.disp_tbcell{
    display:table-cell;
}
.pad_2{
    padding:2px;
}
.toolstips{
    cursor:pointer !important;
}
.searchbtnfilter{
    position: relative;
    top: -34px;
    padding: 8px;
    background: #348fe2;
    cursor: pointer;
    color: #fff;
    border: unset;
    box-shadow: 0px 0px 2px 0px #348fe26b;

}
.customhgt{
	max-height:200px;
	overflow:auto;
}
.star{
	color:red !important;
}
body .daterangepicker{
    z-index: 1600!important;
}
.profile-header .profile-header-cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,rgb(255, 255, 255) 0,rgb(255, 255, 255) 100%);
}
.profile-header .profile-header-content {
    color: black;
}
.brdradius_unset{
	border-radius:unset !important;
}
.profile-header-img{
	height:150px !Important;
}
.imagesrc{
	min-height: 105px;
    max-height: 105px;
	width:100%;
	border: 4px solid #dcd9d9;
}
.fnt_10{
	font-size:10px;
}

.brdr{
	border:1px solid;
}
.pad_tp_10{
	padding-top:10px;
}
.brdr_grey{
	    border: 1px solid #d6cfcf;
}
.mrgn_tp_15{
	margin-top:15px;
}
.bg_grey{
    background: #ebedef !important;
}
.reddish{
	
    min-height: 3px;
    background-color: red;
    /*box-shadow: 0px 0px 12px 0px #eaa6a6;*/
    /* margin: 0; */
    margin-top: 0px;
}
.pd_packs{
	padding-left: 16px;
    padding-top: 10px;
  
    list-style: none;
}
.ac_div{
	padding-bottom: 15px;
    margin: 0px;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid #d8d3d3;
    border-radius: 8px;
}
.mxwdt_80{
	max-width:80%;
}
.all_broadcasterlist,.all_genrelist ,.all_broadcasterchlist ,.all_langlist,.alltypech {
	word-break: break-word;
}
.radio label{
	cursor:pointer;
}
.checkbox label{
	cursor:pointer;
}
.width-250{
	width:250px !important;
}
.disp_blk{
	display:block;
}
.wdth_100{
	width:100%;
}
.mrgn_tp_btm{
	margin-top: 10px;
    margin-bottom: 10px;
}
.pd_left_rgt_0{
	padding-left:0px;
	padding-right:0px;
}
.totprice{
	padding: 5px;
	background: linear-gradient(to right, #faf605,#f5ed15);
    color: #212121;
	border:1px solid;
	border-radius:10px;
	margin:0px;
	margin-bottom: 10px;
}
.hght_25{
	height:25px;
}
table{
	width:100% !important;
}
.clr_red{
	color:red;
}
.clr_green{
	color:green;
}
.fnt_14{
	font-size:14px;
}
.fnt_bld{
	font-weight:bold;
}
.min_hgt_250{
	min-height:250px;
}
.min_hgt_130{
	min-height:315px;
}
.min_hgt_210{
	min-height:210px;
}
.min_hgt_330{
	min-height:250px;
}
.custmin_hgt{
	max-height: 600px;
    overflow: auto;
    min-height: auto;
}
.hidez{
	display:none;
}

.topay{
	border: 4px solid white;
    box-shadow: 0px 0px 6px 0px grey;
    background-color: red;
    color: #fff !important;
    padding: 1px;
    padding-left: 10px;
	font-size: 16px;
    font-weight: bold;
}
.pad_10{
	padding:10px;
}
label{
	word-break:break-word;
}
.in_input{
    max-height: 25px;
    padding: 2px;
}
.pd_10{
	padding-bottom:10px;
}
.no_mrgn{
	margin:0;
}
.no_mrgn_btm{
	margin-bottom:0px;
}
.no_pad{
	padding:0px !important;
}
.min_hgt_115{
	min-height:115px;
}

.upper_divpaych,.upper_divfreech{
	font-size:10px;
}
.chnmclass{
	font-size:13px;
}
.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:1000;
}
.mrgn_left_10{
    margin-left:10px;
}
.mrgn_tp_25{
	margin-top:25px;
}
.pad_4{
	padding:6px;
	font-size:10px;
}
.table td{
	padding: 4px 15px !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #f3f4f5;
	opacity: .6;
}
.daterangepicker .drp-calendar {
   max-width: unset !important;
}
.subhead {
    font-size: 20px;
    padding-bottom: 10px;
}
.addcustpackcon{
	 border: 1px solid #f1eded;
    padding: 10px;
    background: #6ec344;
    color: #fff;
}
.pd_15{
	padding:15px;
}
a:hover{
	text-decoration:none;
}
.fl_rght{
	float:right;
}
.addbx_top_rowhead{
    background: #fff;
    margin: 0;
    margin-bottom: 15px;
}
.trashbx,.maxmin{
    background: red;
    color: #fff;
    border-radius: 10px;
}
.bg_grey{
background-color:#f1f0f0
}
.trashbx:hover,.maxmin:hover{
	color: #fff;
}
.result-list>.innerbox {
   background: #fff;
    box-shadow: 0 1px #ccc;
    border-radius: 3px;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc6c6;
}
.result-list>.innerbox>div {
   
    vertical-align: top;
    padding: 20px;
    position: relative;
}
.brdr_btm{
    border-bottom: 1px solid #348fe2 !important;
    background: #348fe2  !important;
    color: #fff !important;
    border: 1px solid #348fe2  !important;
    box-shadow: 0px 0px 2px 0px grey;
}

.profile-header .profile-header-cover {
    background-color: red;
	background-image:unset !important;
}
body #content{
	background: #d9e0e7;
	
}
.mrg_tp_2{
	margin-top:2px;
}
.pad_10{
	padding:10px;
}
.box_icons{
    font-size: 55px;
    color: #ece9e9;
    top: 58px !important;
    left: 3px !important;
}
.brdr_btm a{
	color:#fff !important;
}
.brdr_btm a:hover{
	color:black !important;
}
.brdr_btm a.active{
	color:black !important;
}
.profile-header-img {
	margin: 0 0 -21px;
}
.profile-header-tab{
	padding:0px !important;
}
.note.note-primary {
    border-color: #ea183f;
    background: #d6d6d6;
    color: black;
}
.note.note-primary .note-icon {
    background: #dc2c2c;
}
/* theme edit */
.widget-stats .stats-info p {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
}
.sw-main>ul.step-anchor.nav-tabs>li.active>a {
    color: #fff!important;
    background: #348fe2!important;
}
.sidebar, .sidebar-bg {
    background: #fff;
}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
    color: #fff;
    background: #348fe2;
}
.sidebar .sub-menu>li.active>a, .sidebar .sub-menu>li.active>a:focus, .sidebar .sub-menu>li.active>a:hover, .sidebar .sub-menu>li>a:focus, .sidebar .sub-menu>li>a:hover {
    color: #000 !important;
}
.sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
    background: 0 0;
    color: #000;
}
.sidebar .nav>li.nav-profile>a {
    margin: -20px;
    padding: 20px;
    display: block;
    color: #fff !important;
}
.sidebar .nav>li>a {
   color: #060606;
}
.text-theme, .sidebar .nav > li.active > a i {
    color: #ffffff;
}
.sidebar .sub-menu>li.has-sub>a:before, .sidebar .sub-menu>li:before, .sidebar .sub-menu>li>a:after {
    background: #348fe2;
}
.sidebar .sub-menu > li.active:after {
    border-color: #348fe2;
}
.sidebar .sub-menu>li.active:after {
    border-color: #348fe2;
}
.sidebar .sub-menu>li:after {
   background: #348fe2;
}
.sidebar .nav>li.nav-profile .cover.with-shadow:before {
	background: rgba(208, 0, 0, 0.35);
}
.header .navbar-logo, .login .login-header .brand .logo, .header .navbar-nav > li .dropdown-toggle .label, .header .navbar-nav > li > a .label, .label.label-theme, .btn.btn-scroll-to-top {
    background: #348fe2;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav-pills>li>a.active, .nav-pills>li>a.active:focus, .nav-pills>li>a.active:hover {
    background: #f76767;
    color: #fff;
}
.alert.alert-success {
    background: #24ce49;
    color: #fff;
}
.alert label {
    color: #fff !important;
}

.sidebar .nav>li.nav-profile .cover {
    position: absolute;
     top: unset; 
     left: unset; 
     right: unset; 
     bottom: unset; 
     background: unset; 
     background-size: unset; 
}
div.dataTables_wrapper div.dataTables_info {
    padding: 8px 0 8px 2px;
    white-space: nowrap;
}