.note-editing-area {
    margin-top: 7px !important;
    height: 225px;
}

.note-editor.note-frame {
    border: 1px solid #b3b3b3 !important;
}

.note-editor.note-frame .note-editing-area {
    border: 1px solid #b3b3b3 !important;
}

.note-insert {
    display: none;
}

.btn-fullscreen {
    display: none;
}

.btn-sm[aria-label="Help"] {
    display: none;
}

.note-editable {
    height: 225px !important;
}

.note-recent-color {
    background-color: rgb(255, 255, 255) !important;
}

.summernote .note-editable p {
    font-size: 14px;
    font-weight: normal;
}

.summernote .note-editable h1 {
    text-decoration: underline;
}