.table td {
    padding: 14px 14px !important;
}

.usermultipleschededit+.select2-container {
    width: 100% !important;
    padding: 0;
    z-index: 10000;
}

.select2-container--open {
    z-index: 10000;
}

.select2-selection__choice {
    display: block;
}