html,
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background: #EEEEF4;
    font-weight: 100;
    user-select: none;
}

main {
    height: 100%;
    display: flex;
    margin: 0 20px; // To look nice on mobile
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    h1 {
        font-size: 3em;
        font-weight: 100;
        color: #F44;
        margin: 0;
    }
    h2 {
        font-size: 1.5em;
        font-weight: 100;
        margin-bottom: 0;
    }
    h3 {
        font-size: 1.5em;
        font-weight: 100;
        margin-top: 0;
    }
    a {
        font-size: 1.5em;
        font-weight: 300;
        color: #F44;
        text-decoration: none;
    }
}

footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-weight: 300;
}