
    .mrgn_btm_50{

        margin-bottom:50px;

    } 

    .mrgn_tp_15{

        margin-top:15px;

    }

    .thm-color{

        color: #009688;

    }

    .black-color{

        color: black;

    }

    .min-card-height{

        min-height: 272px;

    }
	.text-info{
		padding: 40px 0;
		    background: #00acac;;
	}
	h3.heading{
		color: white;
	}
	.counter-icon i {
		font-size: 55px;
		color: white;
	}
	.counter-icon {
		padding: 15px;
		text-align: center;
	}
	section.counter {
		background: #040107;
	}
    .mrgn-tp-20{

        margin-top:20px;

    }

    .section_title h6::after {

        position: absolute;

        left: 0;

        top: 15px;

        background: #53abd0;

        height: 1px;

        width: 70px;

        content: "";

    }

    .section_padding {

        padding: 70px 0;

    }

    .mb-4 {

        margin-bottom: 40px;

    }

    

    .section_title h6 {

        color: #646464;

        font-weight: 700;

        position: relative;

    }

    .section_heading h2 {

        font-size: 35px;

        line-height: 46px;

    }

    .download_app p {

        font-size: 18px;

        line-height: 32px;

    }

    .download_btn a {

        display: inline-block;

        vertical-align: middle;

        width: 78px;

        height: 78px;

        border-radius: 20px;

        text-align: center;

        color: #19191b;

        font-size: 40px;

        border: #bfbfbf solid 1px;

        margin: 0 10px 0 0;

        line-height: 70px;

    }

    .section_title h6:after {

        background: unset !important;

    }

    .reviews_img {

        width: 80px;

        height: 80px;

        border-radius: 50%;

        overflow: hidden;

        float: left;

        border: rgba(0,0,0,.2) solid 1px;

    }

    .reveiw_text {

        float: right;

        width: calc(100% - 100px);

    }

    .reveiw_text p {

        font-size: 16px;

        line-height: 30px;

    }

    .review_by h6 {

        margin: 0 auto;

        padding: 0;

        background: no-repeat;

        font-size: 17px;

    }

    #reviews {

        padding: 40px 0 10px;

    }
	@media (min-width: 992px){
		.py-lg-5 {
			padding-top: 3rem !important;
			padding-bottom: 3rem !important;
		}
	}
	.card {
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.125);
	}
	h5.card-title {
		font-size: 22px;
		letter-spacing: 2px;
		margin-bottom: 1em;
		color: #b84373;
		font-weight: 600;
	}
	h3.title {
		font-size: 42px;
	}
	span.hdng {
		color: #b84373;
	}
	.w3ls-titles p {
		width: 76%;
	}
	p {
		margin: 0;
		font-size: 15px;
		letter-spacing: .5px;
		line-height: 1.8;
		font-weight: 600;
	}
	.stats_info {
		text-align: center;
		border-top: none;
		border-bottom: none;
	}
	.stats_info1 {
		background: rgba(220, 220, 220, 0.31);
		padding: 32px 20px;
	}
	.stats_info span {
		font-size: 2.3em;
		color: #b84373;
		margin: 0;
	}
	.stats_info p {
		font-size: 2.5em;
		letter-spacing: 1px;
		line-height: 2;
		color: #ffffff;
		font-weight: 800;
	}
	.stats_info h4 {
		color: #fff;
		font-size: .95em;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 1em;
		letter-spacing: 1px;
		font-style: italic;
	}
.slider {
    margin-left: 17px;
}
.height-250{
    height:250px;
}
.slider img {
    height: 325px;
    width: 465px;
}
.shadow {
    filter: brightness(40%);
}
		h5.heading {
    margin-bottom: 25px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    font-size: 20px;
}
p.content {
    width: 100%!important;
    letter-spacing: 0.02em;
    line-height: 2.5em;
    font-weight: 500;
}
.testimonials_grid {
    background: #eee;
    padding: 2rem 1rem;
    border-radius: 1rem;
}
.testi-text {
    margin-bottom: 0.5em;
}
.testi-desc span {
    font-size: 2em;
    margin: 20px;
    color: #0083ff;
}
.testi-desc h5 {
    font-weight: 900;
    color: #333;
    font-size: 1.1em;
    text-transform: capitalize;
}
.testi-text p span {
    font-size: 1.1em;
    color: #777;
    margin: 9px 10px;
}
.testi-text p {
    color: #777;
    width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
}
 .py-4 {
    padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
div#testi{
	padding-bottom: 5em!important;
    margin-top: 70px;
}


#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /*font-family: Raleway;*/
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}



/* ================== COUNTER CSS START ====================*/
.cta_part{
		text-align: center;
		padding-bottom:100px;
	}
	.cta_part .cta_part_iner .cta_part_text p {
    color: #00acac;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
}
.cta_part .cta_part_iner .cta_part_text h1 {
    font-size: 42px;
    font-weight: 700;
}
.section_bg_2 {
    background-color: #162b45;
}
.service_part .single_service_part_iner {
    background-color: #2e4158;
    padding: 50px 24px;
    text-align: center;
    border-radius: 5px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.service_part .single_service_part_iner span {
    background-color: #586779;
    width: 61px;
    height: 61px;
    font-size: 22px;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
    color: #fff;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ti-mobile:before {
    content: "\e621";
}
.service_part .single_service_part_iner h3 {
    font-weight: 600;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
.service_part .single_service_part_iner p {
    font-size: 15px;
    color: #00acac;
    line-height: 1.8;
    font-weight: 400;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}
p.counter{
	font-size: 2.5em!important;
    font-weight: 800!important;
}
.service_part .single_service_part:hover .single_service_part_iner {
  background-color: #fff;
}


.service_part .single_service_part:hover .single_service_part_iner h3 {
  color: #112e41;
}


.service_part .single_service_part:hover .single_service_part_iner p {
  color: #888888;
}


.service_part .single_service_part:hover .single_service_part_iner span {
  background: #00acac;
}
/* ===================== COUNTER CSS END =========================*/