.section-header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.section-header h2 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: -0.03em;
    color: #058686;
    font-size: 45px;
    text-align: center;
}

.section-header p {
    margin-bottom: 0;
    font-size: 15px;
}

.text {
    margin-bottom: 10px;
}

.text i {
    font-size: 20px;
    color: #055b57;
}

.section-pcs-info h2 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
    line-height: 1.3em;
    letter-spacing: -0.03em;
    color: #18468c;
    font-size: 35px;
    text-align: center;
}

.lightbluebackground {
    background-color: #fafafa;
}

.lightBlueBgColor {
    background-color: #f1f4f8;
}

.textDarkBlue {
    color: #18468c;
}

.textGray {
    color: #666666;
}

.table td,
.table th {
    padding: .95rem!important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.box {
    border: 2px solid lightseagreen;
    padding: 15px;
}

li {
    line-height: 1.7em;
}