body {
    background: #fdfdfd;
}

.header {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1) !important;
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

.ques {
    font-family: sans-serif!important;
    font-size: 18px;
    color: #333;
}

.form-check-label {
    font-size: 14px;
    font-weight: 500;
}

.theme-panel.theme-panel-lg {
    top: 0;
    bottom: 0;
    width: 330px;
    right: -330px;
}

.profile_details {
    padding: 4px;
    width: 17%;
    border-radius: 50%;
    font-size: 25px;
    background-color: #ec407a;
    color: white;
    text-align: center;
}

.profiles {
    padding: 0px;
    border-radius: 50%;
    font-size: 30px;
    background-color: #ec407a;
    color: white;
}

.label {
    background: #fff;
    width: 30px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #333;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    border-radius: 1px;
    padding: 3px;
}

.skipped {
    border-radius: 0 0 20px 20px!important;
    background-color: #c0392b!important;
    border-color: #c0392b!important;
    color: #fff!important;
}


/*li{*/


/*    margin-top: 8px;*/


/*}*/

.attempted {
    border-radius: 20px 20px 0 0!important;
    background-color: #27ae60!important;
    color: #fff!important;
    border-color: #27ae60!important;
}

.bookmarked {
    background-color: #9b59b6!important;
    border-radius: 24px!important;
    border-color: #9b59b6!important;
    color: #fff!important;
    position: relative;
}

.attempted.bookmarked::after {
    content: '';
    position: absolute;
    border-color: #27ae60;
    border-style: solid;
    border-width: 0 .3em .3em 0;
    height: 1em;
    top: -.375em;
    right: 0;
    transform: rotate(45deg);
    width: .5em;
}

.theme-panel.theme-panel-lg .theme-list>li {
    margin-right: 3px;
    margin-bottom: 8px;
}

.side-div {
    height: 35px;
    background-color: #b4dbed;
    margin-right: -15px;
    margin-left: -15px;
    padding: 8px;
}

.ques-no-label {
    background: #fff;
    width: 35px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 1.5px solid #333;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
    text-align: center;
}

.ques-icon-li {
    margin-right: 8px !important;
    margin-bottom: 14px !important;
    margin-left: 8px !important;
    cursor: pointer;
}

.ques_no_div {
    max-height: 300px;
    overflow: auto;
}

.view {
    background: #fff;
    color: black;
    border-radius: 12px !important;
    border: 1.5px solid !important;
}

.hidez {
    display: none;
}

.showz {
    display: block;
}

.footer_div {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 10px 0px #c7c4c4;
}

.mrgncust button {
    margin-top: 4px;
    margin-bottom: 4px;
}

span.timercss {
    background-color: #777777;
    color: white;
    padding: 2px 4px 2px 4px;
    font-size: 14px;
}

.p-12 {
    padding: 12px;
    box-shadow: 0px 1px 0px 0px #f1ebeb;
}

.myclass {
    border: 1px solid #e3e3e3;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    border-radius: 10px;
}

.myclass:hover {
    background: #89c6f7;
    border: 1px solid #89c6f7;
}

.myclass label.form-check-label:hover {
    color: #fff;
    cursor: pointer;
}