.widget.widget-stats {
    position: relative;
    color: #000;
    padding: 15px;
    border-radius: 3px;
    background-image: linear-gradient(rgb(59, 144, 144) 0%, rgba(255, 255, 255, 0.54) 46%, white 100%) !important;
    min-height: 284px;
}

.bg-gradient-teal {
    background: linear-gradient(to bottom, rgb(0, 172, 172) 0, rgba(255, 255, 255, .54) 30%, #fff 100%);
}

.widget-stats .stats-progress .progress-bar {
    background: #00acac;
    border-radius: 0 3px 3px 0;
}

.widget-stats .stats-progress {
    background: rgba(142, 150, 145, 0.5);
    height: 2px;
    margin: 0 0 15px;
    border-radius: 3px;
}

.stats-title {
    color: #000 !important;
    font-size: .875rem !important;
    ;
    margin: 0 0 10px !important;
    ;
    line-height: 1.3125rem !important;
}

.stats-desc {
    color: #000 !important;
}

.widget-stats .stats-number {
    font-size: 17px;
    margin-bottom: 7px;
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000 !important;
}

.btn.btn-primary,
.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    color: #fff !important;
    background: #1c8d84 !important;
    border-color: #72afb0 !important;
}

.badge-green {
    background: linear-gradient(45deg, #72d042 17%, #25cc71 70%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    color: #fff;
    padding: 3px 8px 3px 8px;
    height: 20px;
}

.rounded-corner {
    border-radius: 20px!important;
}

.cursor_disabled {
    cursor: no-drop !important;
}

.coming_soon {
    display: inline-table;
    font-size: 20px;
    padding: 15px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

.disc-through-amt {
    text-decoration: line-through;
    color: white;
    text-decoration-color: #887878;
    font-size: 14px;
    margin-left: 6px;
}

@keyframes blinker {
    10% {
        opacity: 0;
    }
}