.row>[class^=col-].ui-sortable {
    min-height: 50px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 3px;
}

.ui-sortable .panel-heading {
    cursor: move;
}

.brdr_btm {
    border-bottom: 1px solid #348fe2 !important;
    background: #348fe2 !important;
    color: #fff !important;
    border: 1px solid #348fe2 !important;
    box-shadow: 0px 0px 2px 0px grey;
}

.panel-heading {
    padding: 10px 15px;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-title {
    font-size: 20px;
}

.panel-title,
.panel-title .pull-right {
    line-height: 20px;
}

.panel-title {
    margin-top: 0;
}

.panel-body {
    padding: 15px;
}

.card {
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

.card,
.card-title {
    margin-bottom: 15px;
}

.card-block {
    padding: 15px;
}

.ques_font {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.qa_progress {
    background-color: #fff;
    border-radius: 1px;
    min-height: 35px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    border: #dbdbdb solid 1px;
}

.qa_progress_text {
    position: relative;
    padding: 3px 0 0 7px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 6;
}

.qa_progress_text>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.qa_number {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 14px;
    margin-right: 5px;
    padding: 0 6px;
    color: #000;
    display: inline-block;
}

div#collapseExample {
    padding: 5px;
}

.pagination p strong {
    padding: 10px;
    border: 1px solid lightseagreen;
    background: #45bfc3;
    color: white;
}

.pagination p a {
    padding: 10px;
    border: 1px solid lightseagreen;
    background: #f3ebeb;
}

.pagination {
    margin-top: 20px;
    float: right;
    margin-bottom: 35px;
}