.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";
}

.slick-prev,
.slick-next {
    background: #a1a1a1bf !important;
    height: 50px !important;
    top: 45%;
}

section.stat_w3l {
    background: url("<?php echo base_url('assets/frontendasset/img/bg/hero_1.jpg');?>") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
}

.margintp_btm {
    margin-top: 0px;
    margin-bottom: 20px;
}

.clr_wt {
    color: #fff !important;
}

.pull-up:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
    box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
    z-index: 999;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 400px) {
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #3b0001;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    .hero h1 {
        font-size: 1.7em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 400px) and (max-width: 992px) {
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #3b0001;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    .hero h1 {
        font-size: 4.7em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        color: #3b0001;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
    .hero h1 {
        font-size: 4.7em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
}

h3.title {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #252525c4;
    margin: 0 0 10px;
}

span.post {
    display: block;
    font-size: 12px;
    color: #48a52a;
    margin-bottom: 10px;
    text-transform: capitalize;
}

ul.social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social li {
    display: inline-block;
}

.social li a {
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    font-size: 17px;
    color: #4e89d2;
    line-height: 35px;
    margin-right: 5px;
    transition: all .4s ease-in-out 0s;
}

.p-5 {
    padding: 3rem!important;
}

.sub-min-height {
    min-height: 580px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

span.hdng {
    color: #4e89d2;
}

.cursor_pointer {
    cursor: pointer;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .carousel-item {
        min-height: 115px !important;
    }
    .carousel-inner {
        min-height: 115px !important;
    }
}