div.container-wrap {
    padding-top: 45px;
}

div.container-wrap div.feature {
    padding-bottom: 30px;
    text-align: center;
}

h2.wrap-class {
    margin-bottom: 30px;
    text-align: center;
}

img.wrap-class {
    margin-bottom: 15px;
}