.widget.widget-stats {
    position: relative;
    color: #000;
    padding: 15px;
    border-radius: 3px;
    background-image: linear-gradient(rgb(59, 144, 144) 0%, rgba(255, 255, 255, 0.54) 46%, white 100%) !important;
}

.widget.widget-stats {
    position: relative;
    color: #fff;
    padding: 15px;
    border-radius: 3px;
}

.bg-gradient-teal {
    background: linear-gradient(to bottom, rgb(0, 172, 172) 0, rgba(255, 255, 255, .54) 30%, #fff 100%);
}

.bg-gradient-teal {
    background: #34babb!important;
    background: -moz-linear-gradient(-45deg, rgba(52, 186, 187, 1) 0, rgba(0, 172, 172, 1) 100%)!important;
    background: -webkit-linear-gradient(-45deg, rgba(52, 186, 187, 1) 0, rgba(0, 172, 172, 1) 100%)!important;
    background: linear-gradient(135deg, rgba(52, 186, 187, 1) 0, rgba(0, 172, 172, 1) 100%)!important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#34babb', endColorstr='#00acac', GradientType=1)!important;
}

.widget {
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    color: inherit;
    padding: 0;
    border-radius: 0;
}

.widget-stats .stats-icon.stats-icon-lg {
    font-size: 128px;
    top: 15px;
    right: 0;
    color: #fff;
    width: 128px;
    height: 50px;
    line-height: 50px;
    text-shadow: 3px 7px rgba(0, 0, 0, .25);
}

.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: .15;
}

.widget-stats .stats-content,
.widget-stats .stats-icon.stats-icon-lg i {
    position: relative;
}

.fa-globe:before {
    content: "\f0ac";
}

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.rounded-corner {
    border-radius: 12px!important;
}

.widget-stats .stats-number {
    font-size: 18px;
    margin-bottom: 7px;
    margin-top: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000 !important;
}

.widget-stats .stats-number {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.widget-stats .stats-progress {
    background: rgba(142, 150, 145, 0.5);
    height: 2px;
    margin: 0 0 15px;
    border-radius: 3px;
}

.widget-stats .stats-progress {
    background: rgba(0, 0, 0, .5);
    height: 2px;
    margin: 0 0 15px;
    border-radius: 3px;
}

.progress {
    box-shadow: none;
    background: #e2e7eb;
}

.widget-stats .stats-progress .progress-bar {
    background: #00acac;
    border-radius: 0 3px 3px 0;
}

.progress-bar {
    background-color: #348fe2;
    box-shadow: none;
}

.test-series {
    background: #d9e0e7;
    padding: 15px;
}

.cursor_disabled {
    cursor: no-drop !important;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    10% {
        opacity: 0;
    }
}

.coming_soon {
    color: red;
    font-weight: 700;
    font-size: 17px;
    padding: 15px;
    display: inline-table;
}