body {
    background-color: #ffffff;
    color: #000000 !important;
    font-family: sans-serif !important;
    height: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    overflow: hidden;
}

p {
    font-size: 16px;
}

.instruction_ul {
    margin-bottom: 8px;
    list-style: none;
    padding-inline-start: 20px !important;
}

.label {
    background: #fff;
    width: 25px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #333;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    border-radius: 1px;
}

.skipped {
    border-radius: 0 0 20px 20px!important;
    background-color: #c0392b!important;
    border-color: #c0392b!important;
    color: #fff!important;
}

li {
    margin-top: 8px;
}

.attempted {
    border-radius: 20px 20px 0 0!important;
    background-color: #27ae60!important;
    color: #fff!important;
    border-color: #27ae60!important;
}

.bookmarked {
    background-color: #9b59b6!important;
    border-radius: 24px!important;
    border-color: #9b59b6!important;
    color: #fff!important;
    position: relative;
}

.attempted.bookmarked::after {
    content: '';
    position: absolute;
    border-color: #27ae60;
    border-style: solid;
    border-width: 0 .3em .3em 0;
    height: 1em;
    top: -.375em;
    right: 0;
    transform: rotate(45deg);
    width: .5em;
}

.profile {
    position: absolute;
    right: 0;
    top: 52px;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: none;
}

@media (min-width: 768px) {
    .profile {
        display: block !important;
    }
}

.instruction_content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.instruction_footer {
    padding: 7px;
    width: 100%;
    background: white;
    position: sticky;
    bottom: 0;
    -webkit-box-shadow: 0px -5px 15px 0px #bfbfbf;
    box-shadow: 0px -5px 15px 0px #bfbfbf;
}

.declaration-label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}

.declaration-checkbox {
    position: absolute;
    left: 0;
    top: 6px;
    width: auto;
    display: inline-block;
    opacity: 1;
}

.disabled {
    cursor: not-allowed;
}

.upppernametext {
    padding: 10px;
    FONT-WEIGHT: 100;
    FONT-WEIGHT: 100;
    border: 1px solid #e2e1e1;
    box-shadow: 0px 0px 10px 0px #d4d3d3;
}

@media only screen and (max-width:768px) {
    .page-header-fixed {
        padding-top: 55px;
    }
    .pace-progress {
        top: 53px;
    }
}