p {
    margin: 0 0 10px;
}

.ques_font {
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.qa_progress {
    background-color: #fff;
    border-radius: 1px;
    min-height: 35px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    border: #dbdbdb solid 1px;
}

.qa_progress_text {
    position: relative;
    padding: 3px 0 0 7px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 6;
}

.qa_number {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 14px;
    margin-right: 5px;
    padding: 0 6px;
    color: #000;
    display: inline-block;
}

text-muted {
    color: #6c757d!important;
}

.qa_progress_text>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pad_4 {
    padding: 2px;
    font-size: 10px;
    height: 25px;
}

.note-editing-area {
    margin-top: 7px !important;
    height: 225px;
}

.note-editor.note-frame {
    border: 1px solid #b3b3b3 !important;
}

.note-insert {
    display: none;
}

.note-table {
    display: none;
}

.btn-fullscreen {
    display: none;
}

.btn-sm[aria-label="Help"] {
    display: none;
}

.note-editable {
    height: 125px !important;
}

.note-recent-color {
    background-color: rgb(255, 255, 255) !important;
}