.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 10px 15px !important;
}

.stats-title {
    font-size: 16px !important;
}

.nv-bars rect {
    width: 20px !important;
}