
.toolstips{
    cursor:pointer !important;
}

.star{
	color:red !important;
}
body .daterangepicker{
    z-index: 1600!important;
}

.fnt_10{
	font-size:10px;
}

.brdr{
	border:1px solid;
}
.pad_tp_10{
	padding-top:10px;
}
.brdr_grey{
	    border: 1px solid #d6cfcf;
}
.mrgn_tp_15{
	margin-top:15px;
}
.bg_grey{
    background: #ebedef !important;
}

.ac_div{
	padding-bottom: 15px;
    margin: 0px;
    padding-top: 10px;
    margin-top: 10px;
    border: 1px solid #d8d3d3;
    border-radius: 8px;
}
.mxwdt_80{
	max-width:80%;
}
.radio label{
	cursor:pointer;
}
.checkbox label{
	cursor:pointer;
}
.width-250{
	width:250px !important;
}

.totprice{
	padding: 5px;
	background: linear-gradient(to right, #faf605,#f5ed15);
    color: #212121;
	border:1px solid;
	border-radius:10px;
	margin:0px;
	margin-bottom: 10px;
}

table{
	width:100% !important;
}
/*.clr_red{*/
/*	color:red;*/
/*}*/
.clr_green{
	color:green;
}

.hidez{
	display:none;
}

.topay{
	border: 4px solid white;
    box-shadow: 0px 0px 6px 0px grey;
    background-color: red;
    color: #fff !important;
    padding: 1px;
    padding-left: 10px;
	font-size: 16px;
    font-weight: bold;
}

label{
	word-break:break-word;
}

.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:1000;
}


.table td{
	padding: 4px 15px !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: #f3f4f5;
	opacity: .6;
}
.daterangepicker .drp-calendar {
   max-width: unset !important;
}
.trashbx,.maxmin{
    background: red;
    color: #fff;
    border-radius: 10px;
}

.brdr_btm{
    border-bottom: 1px solid #348fe2 !important;
    background: #348fe2  !important;
    color: #fff !important;
    border: 1px solid #348fe2  !important;
    box-shadow: 0px 0px 2px 0px grey;
}

body #content{
	background: #d9e0e7;
	
}


.box_icons{
    font-size: 55px;
    color: #ece9e9;
    top: 58px !important;
    left: 3px !important;
}
.sidebar-minify-btn{
    background-color:#242a30 !important;
}