.note-editing-area {
    margin-top: 7px !important;
}

.note-editor.note-frame {
    border: 1px solid #b3b3b3 !important;
}

.note-insert {
    display: none;
}

.note-table {
    display: none;
}

.btn-fullscreen {
    display: none;
}

.btn-sm[aria-label="Help"] {
    display: none;
}

.note-editable {
    height: 200px !important;
}

.note-recent-color {
    background-color: rgb(255, 255, 255) !important;
}